.navbar {
    background-color: rgb(254, 254, 254);
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:7%;
  
    padding: 0 2%;
}

.name {
    font-size: 2em;
    margin-bottom: 10px;
}

.block {

    height:200px;
}

.sidebar {
    background-color: rgb(235, 119, 119);
    width:20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:200%;
    min-height: 200px;
    z-index:100;
    position:relative;
}

.logo {
    text-align: center;
}

.logo-container {
    width:100%;
    text-align: center;
}

.name-container {
    width:100%;
    padding:50px 0px;
}

.logout-button {
    display:block;
}

.list-container {
    width:100%;
    align-items: center;
}

.list-items{
    list-style: none;
}

.link {
    text-decoration: none;
    color:black;
    width: 100%;
    transition: 0.3s;
}

.add-button {
    float:right;
}



.fields{
    padding: 10px;
    outline: none;

  }

  .fields:focus {
    border: 2px solid rgb(235, 119, 119);
  }
.link:hover {
    left:10px;
    color:white;
}

.icons {
    display:none;
}

.link-text {
    display:block;
   
}

.fields {
    height:37px;

}

@media only screen and (max-width: 600px) {
    .navbar {
        height:12%;
    }    

    .logo {
        display: none;
    }

    .link-text {
        display:none;
    }
    
    .sidebar {
        width:20%;
    }

    .icons {
        margin-bottom:25%;
        display:block;
    }

    .add-button {
        float:left;
        margin-bottom: 10px;
    }
    
}